.recipe_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.recipe_container{
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    font-family: 'Inter', sans-serif;
}

.search_bar input {
    width: 100%;
    border-radius: 50px 50px 50px 50px;
    font-size: 1.2rem;
}

.search_input {
    height: 35px;
    margin: 0;
    padding: 0 8px;
    border: none;
    background-color: transparent
}

.search_input:focus {
    outline: none;
}

.search_bar {
    margin-top: 20px;
    width: 25%;
    border-radius: 50px;
    border: none;
    background-color: rgba(223, 120, 10, 0.259);
    display: flex;
    align-items: center;
    padding: 0 0 0 5px;
    box-sizing: border-box;
}
